html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


html,
body {
    height: 100%;
    width: auto;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.container {
    display: grid;
    height: 960px;
    width: 960px;
}

.resize {
    height: 100px;
    width: 300px;
    font-size: 48px;
}

.square {
    border: 1px solid black;
}